@model EmailModel

@{
    Layout = "_LayoutDeslogada";
}


<div class="text-center d-flex justify-content-center align-conter-center flex-column">
    <h2 style="color:darkorange">Parabéns, @Model.Nome</h2>
    <p>
       Teste Othavio
    </p>
    
    <div class="text-center">
        <div style="height:350px" class="text-center mt-5 mb-5">
            <img src="/img/comemorarsemfundo.png" style="width: 100%; height: 100%" />
        </div>
    </div>
</div>